In [1]:
%pip install vanna

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: vanna in c:\users\vidus\appdata\roaming\python\python311\site-packages (0.6.2)
Requirement already satisfied: requests in c:\users\vidus\appdata\roaming\python\python311\site-packages (from vanna) (2.31.0)
Requirement already satisfied: tabulate in c:\users\vidus\appdata\roaming\python\python311\site-packages (from vanna) (0.9.0)
Requirement already satisfied: plotly in c:\users\vidus\appdata\roaming\python\python311\site-packages (from vanna) (5.22.0)
Requirement already satisfied: pandas in c:\users\vidus\appdata\roaming\python\python311\site-packages (from vanna) (2.0.3)
Requirement already satisfied: sqlparse in c:\users\vidus\appdata\roaming\python\python311\site-packages (from vanna) (0.4.4)
Requirement already satisfied: kaleido in c:\users\vidus\appdata\roaming\python\python311\site-packages (from vanna) (0.2.1)
Requirement already satisfied: flask in c:\users\vidus\appdata\roaming\python\python311\site-packages (from vanna) (3.0.3)
Requirement already satisfied: flask-sock in c:\users\vidus\appdata\roaming\python\python311\site-packages (from vanna) (0.7.0)
Requirement already satisfied: sqlalchemy in c:\users\vidus\appdata\roaming\python\python311\site-packages (from vanna) (2.0.31)
Requirement already satisfied: Werkzeug>=3.0.0 in c:\users\vidus\appdata\roaming\python\python311\site-packages (from flask->vanna) (3.0.3)
Requirement already satisfied: Jinja2>=3.1.2 in c:\users\vidus\appdata\roaming\python\python311\site-packages (from flask->vanna) (3.1.2)
Requirement already satisfied: itsdangerous>=2.1.2 in c:\users\vidus\appdata\roaming\python\python311\site-packages (from flask->vanna) (2.2.0)
Requirement already satisfied: click>=8.1.3 in c:\users\vidus\appdata\roaming\python\python311\site-packages (from flask->vanna) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in c:\users\vidus\appdata\roaming\python\python311\site-packages (from flask->vanna) (1.8.2)
Requirement already satisfied: simple-websocket>=0.5.1 in c:\users\vidus\appdata\roaming\python\python311\site-packages (from flask-sock->vanna) (1.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vidus\appdata\roaming\python\python311\site-packages (from pandas->vanna) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\vidus\appdata\roaming\python\python311\site-packages (from pandas->vanna) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\vidus\appdata\roaming\python\python311\site-packages (from pandas->vanna) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\vidus\appdata\roaming\python\python311\site-packages (from pandas->vanna) (1.23.5)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\vidus\appdata\roaming\python\python311\site-packages (from plotly->vanna) (8.4.2)
Requirement already satisfied: packaging in c:\users\vidus\appdata\roaming\python\python311\site-packages (from plotly->vanna) (23.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\vidus\appdata\roaming\python\python311\site-packages (from requests->vanna) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vidus\appdata\roaming\python\python311\site-packages (from requests->vanna) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\vidus\appdata\roaming\python\python311\site-packages (from requests->vanna) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vidus\appdata\roaming\python\python311\site-packages (from requests->vanna) (2023.5.7)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\vidus\appdata\roaming\python\python311\site-packages (from sqlalchemy->vanna) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\vidus\appdata\roaming\python\python311\site-packages (from sqlalchemy->vanna) (3.0.3)
Requirement already satisfied: colorama in c:\users\vidus\appdata\roaming\python\python311\site-packages (from click>=8.1.3->flask->vanna) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\vidus\appdata\roaming\python\python311\site-packages (from Jinja2>=3.1.2->flask->vanna) (2.1.3)
Requirement already satisfied: six>=1.5 in c:\users\vidus\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas->vanna) (1.16.0)
Requirement already satisfied: wsproto in c:\users\vidus\appdata\roaming\python\python311\site-packages (from simple-websocket>=0.5.1->flask-sock->vanna) (1.2.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\vidus\appdata\roaming\python\python311\site-packages (from wsproto->simple-websocket>=0.5.1->flask-sock->vanna) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import vanna
from vanna.remote import VannaDefault

In [3]:
api_key =  '01508ca7724e4d40813b2df9235bab90'

vanna_model_name = 'cherrycodes'
vn = VannaDefault(model=vanna_model_name, api_key=api_key)

In [4]:
vn.connect_to_sqlite('chinook.db')

In [5]:
df_ddl = vn.run_sql("SELECT type, sql FROM sqlite_master WHERE sql is not null")

for ddl in df_ddl['sql'].to_list():
  vn.train(ddl=ddl)
# The following are methods for adding training data. Make sure you modify the examples to match your database.

# DDL statements are powerful because they specify table names, colume names, types, and potentially relationships
vn.train(ddl="""
    CREATE TABLE IF NOT EXISTS my-table (
        id INT PRIMARY KEY,
        name VARCHAR(100),
        age INT
    )
""")

# Sometimes you may want to add documentation about your business terminology or definitions.
vn.train(documentation="Our business is of sales")
vn.train(sql="SELECT * FROM my-table WHERE name = 'John Doe'")
# At any time you can inspect what training data the package is able to reference
training_data = vn.get_training_data()
training_data
# You can remove training data if there's obsolete/incorrect information.

Adding ddl: CREATE TABLE "albums"
(
    [AlbumId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Title] NVARCHAR(160)  NOT NULL,
    [ArtistId] INTEGER  NOT NULL,
    FOREIGN KEY ([ArtistId]) REFERENCES "artists" ([ArtistId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
)
Adding ddl: CREATE TABLE sqlite_sequence(name,seq)
Adding ddl: CREATE TABLE "artists"
(
    [ArtistId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Name] NVARCHAR(120)
)
Adding ddl: CREATE TABLE "customers"
(
    [CustomerId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [FirstName] NVARCHAR(40)  NOT NULL,
    [LastName] NVARCHAR(20)  NOT NULL,
    [Company] NVARCHAR(80),
    [Address] NVARCHAR(70),
    [City] NVARCHAR(40),
    [State] NVARCHAR(40),
    [Country] NVARCHAR(40),
    [PostalCode] NVARCHAR(10),
    [Phone] NVARCHAR(24),
    [Fax] NVARCHAR(24),
    [Email] NVARCHAR(60)  NOT NULL,
    [SupportRepId] INTEGER,
    FOREIGN KEY ([SupportRepId]) REFERENCES "employees" ([EmployeeId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
)
Adding ddl: CREATE TABLE "employees"
(
    [EmployeeId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [LastName] NVARCHAR(20)  NOT NULL,
    [FirstName] NVARCHAR(20)  NOT NULL,
    [Title] NVARCHAR(30),
    [ReportsTo] INTEGER,
    [BirthDate] DATETIME,
    [HireDate] DATETIME,
    [Address] NVARCHAR(70),
    [City] NVARCHAR(40),
    [State] NVARCHAR(40),
    [Country] NVARCHAR(40),
    [PostalCode] NVARCHAR(10),
    [Phone] NVARCHAR(24),
    [Fax] NVARCHAR(24),
    [Email] NVARCHAR(60),
    FOREIGN KEY ([ReportsTo]) REFERENCES "employees" ([EmployeeId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
)
Adding ddl: CREATE TABLE "genres"
(
    [GenreId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Name] NVARCHAR(120)
)
Adding ddl: CREATE TABLE "invoices"
(
    [InvoiceId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [CustomerId] INTEGER  NOT NULL,
    [InvoiceDate] DATETIME  NOT NULL,
    [BillingAddress] NVARCHAR(70),
    [BillingCity] NVARCHAR(40),
    [BillingState] NVARCHAR(40),
    [BillingCountry] NVARCHAR(40),
    [BillingPostalCode] NVARCHAR(10),
    [Total] NUMERIC(10,2)  NOT NULL,
    FOREIGN KEY ([CustomerId]) REFERENCES "customers" ([CustomerId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
)
Adding ddl: CREATE TABLE "invoice_items"
(
    [InvoiceLineId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [InvoiceId] INTEGER  NOT NULL,
    [TrackId] INTEGER  NOT NULL,
    [UnitPrice] NUMERIC(10,2)  NOT NULL,
    [Quantity] INTEGER  NOT NULL,
    FOREIGN KEY ([InvoiceId]) REFERENCES "invoices" ([InvoiceId])
		ON DELETE NO ACTION ON UPDATE NO ACTION,
    FOREIGN KEY ([TrackId]) REFERENCES "tracks" ([TrackId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
)
Adding ddl: CREATE TABLE "media_types"
(
    [MediaTypeId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Name] NVARCHAR(120)
)
Adding ddl: CREATE TABLE "playlists"
(
    [PlaylistId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Name] NVARCHAR(120)
)
Adding ddl: CREATE TABLE "playlist_track"
(
    [PlaylistId] INTEGER  NOT NULL,
    [TrackId] INTEGER  NOT NULL,
    CONSTRAINT [PK_PlaylistTrack] PRIMARY KEY  ([PlaylistId], [TrackId]),
    FOREIGN KEY ([PlaylistId]) REFERENCES "playlists" ([PlaylistId])
		ON DELETE NO ACTION ON UPDATE NO ACTION,
    FOREIGN KEY ([TrackId]) REFERENCES "tracks" ([TrackId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
)
Adding ddl: CREATE TABLE "tracks"
(
    [TrackId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Name] NVARCHAR(200)  NOT NULL,
    [AlbumId] INTEGER,
    [MediaTypeId] INTEGER  NOT NULL,
    [GenreId] INTEGER,
    [Composer] NVARCHAR(220),
    [Milliseconds] INTEGER  NOT NULL,
    [Bytes] INTEGER,
    [UnitPrice] NUMERIC(10,2)  NOT NULL,
    FOREIGN KEY ([AlbumId]) REFERENCES "albums" ([AlbumId])
		ON DELETE NO ACTION ON UPDATE NO ACTION,
    FOREIGN KEY ([GenreId]) REFERENCES "genres" ([GenreId])
		ON DELETE NO ACTION ON UPDATE NO ACTION,
    FOREIGN KEY ([MediaTypeId]) REFERENCES "media_types" ([MediaTypeId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
)
Adding ddl: CREATE INDEX [IFK_AlbumArtistId] ON "albums" ([ArtistId])
Adding ddl: CREATE INDEX [IFK_CustomerSupportRepId] ON "customers" ([SupportRepId])
Adding ddl: CREATE INDEX [IFK_EmployeeReportsTo] ON "employees" ([ReportsTo])
Adding ddl: CREATE INDEX [IFK_InvoiceCustomerId] ON "invoices" ([CustomerId])
Adding ddl: CREATE INDEX [IFK_InvoiceLineInvoiceId] ON "invoice_items" ([InvoiceId])
Adding ddl: CREATE INDEX [IFK_InvoiceLineTrackId] ON "invoice_items" ([TrackId])
Adding ddl: CREATE INDEX [IFK_PlaylistTrackTrackId] ON "playlist_track" ([TrackId])
Adding ddl: CREATE INDEX [IFK_TrackAlbumId] ON "tracks" ([AlbumId])
Adding ddl: CREATE INDEX [IFK_TrackGenreId] ON "tracks" ([GenreId])
Adding ddl: CREATE INDEX [IFK_TrackMediaTypeId] ON "tracks" ([MediaTypeId])
Adding ddl: CREATE TABLE sqlite_stat1(tbl,idx,stat)
Adding ddl:
    CREATE TABLE IF NOT EXISTS my-table (
        id INT PRIMARY KEY,
        name VARCHAR(100),
        age INT
    )

Adding documentation....
Question generated with sql: What are the details of the person named 'John Doe'?
Adding SQL...

,id,training_data_type,question,content
0,207645-ddl,ddl,None,"CREATE TABLE ""geolocation"" (\n""geolocation_zip..."
1,208602-ddl,ddl,None,"CREATE INDEX [IFK_PlaylistTrackTrackId] ON ""pl..."
2,208540-ddl,ddl,None,"CREATE TABLE ""invoice_items""\r\n(\r\n [Invo..."
3,208566-ddl,ddl,None,"CREATE TABLE ""playlists""\r\n(\r\n [Playlist..."
4,210390-ddl,ddl,None,"CREATE TABLE ""customers""\r\n(\r\n [Customer..."
...,...,...,...,...
260,208575-ddl,ddl,None,"CREATE INDEX [IFK_PlaylistTrackTrackId] ON ""pl..."
261,208587-ddl,ddl,None,"CREATE TABLE ""employees""\r\n(\r\n [Employee..."
262,210397-ddl,ddl,None,"CREATE TABLE ""playlist_track""\r\n(\r\n [Pla..."
263,210394-ddl,ddl,None,"CREATE TABLE ""invoice_items""\r\n(\r\n [Invo..."
264,208567-ddl,ddl,None,"CREATE TABLE ""playlist_track""\r\n(\r\n [Pla..."

In [6]:
from vanna.flask import VannaFlaskApp
app = VannaFlaskApp(vn)
app.run()

Your app is running at:
http://localhost:8084
 * Serving Flask app 'vanna.flask'
 * Debug mode: on
{}